html, body {
	height: 100%;
}
body{
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
}
h1{
	font-weight: 700;
}
.header{
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center center 
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.searchcode{
	background: #FFF;
	padding: 30px;
	margin-top: 30px;
	border-radius: 30px;
}
.searchcode button{
	margin-top: 30px;
}
.searchcode input[type="text"]{
	font-size: 20px;
	font-size: 1.9rem;
	margin-top: 20px;
	
}
.alert{
	display: none;
	margin-top: 30px;
	font-size: 20px;
	font-size: 1.9rem;
}

